[submodule "jamstack/astro-template"]
	path = jamstack/astro-template
	url = git@github.com:fleekxyz/astro-template.git
  branch = main
[submodule "jamstack/gatsby-portfolio"]
	path = jamstack/gatsby-portfolio
	url = git@github.com:fleekxyz/gatsby-portfolio-theme.git
  branch = main
[submodule "jamstack/astro-starter-kit"]
	path = jamstack/astro-starter-kit
	url = git@github.com:fleekxyz/astro-template.git
  branch = main
[submodule "protocols/lens/starter-kit"]
	path = protocols/lens/starter-kit
	url = git@github.com:fleekxyz/lens-template.git
  branch = main
[submodule "protocols/ethereum/starter-kit"]
	path = protocols/ethereum/starter-kit
	url = git@github.com:fleekxyz/evm-starter-kit.git
  branch = main
[submodule "jamstack/nextra-blog"]
	path = jamstack/nextra-blog
	url = git@github.com:fleekxyz/fleek-demos-blog.git
  branch = main
[submodule "jamstack/nextjs"]
	path = jamstack/nextjs
	url = git@github.com:fleekxyz/nextjs-template.git
[submodule "jamstack/react"]
	path = jamstack/react
	url = git@github.com:fleekxyz/react-template.git
  branch = main
[submodule "jamstack/vue"]
	path = jamstack/vue
	url = git@github.com:fleekxyz/vue-template.git
[submodule "jamstack/hugo"]
	path = jamstack/hugo
	url = git@github.com:fleekxyz/hugo-template.git
[submodule "jamstack/nuxt"]
	path = jamstack/nuxt
	url = git@github.com:fleekxyz/nuxt-template.git
[submodule "protocols/celo"]
	path = protocols/celo
	url = git@github.com:fleekxyz/celo-starter-kit
