[submodule "jamstack/astro-template"]
	path = jamstack/astro-template
	url = git@github.com:fleekxyz/astro-template.git
  branch = main
[submodule "jamstack/gatsby-portfolio"]
	path = jamstack/gatsby-portfolio
	url = git@github.com:fleekxyz/gatsby-portfolio-theme.git
  branch = main
[submodule "jamstack/astro-starter-kit"]
	path = jamstack/astro-starter-kit
	url = git@github.com:fleekxyz/astro-template.git
  branch = main
[submodule "protocols/lens/starter-kit"]
	path = protocols/lens/starter-kit
	url = git@github.com:fleekxyz/lens-template.git
  branch = main
[submodule "protocols/ethereum/starter-kit"]
	path = protocols/ethereum/starter-kit
	url = git@github.com:fleekxyz/ethereum-boilerplate.git
  branch = main
[submodule "jamstack/nextra-blog"]
	path = jamstack/nextra-blog
	url = git@github.com:fleekxyz/fleek-demos-blog.git
  branch = main
