[submodule "example-apps/fleek-demo-blog"]
	path = example-apps/fleek-demo-blog
	url = https://github.com/fleekxyz/fleek-demos-blog
	branch = main
[submodule "boilerplates/gatsby-portfolio-theme"]
	path = boilerplates/gatsby-portfolio-theme
	url = git@github.com:fleekxyz/gatsby-portfolio-theme.git
  branch = main
[submodule "boilerplates/ethereum-boilerplate"]
	path = boilerplates/ethereum-boilerplate
	url = https://github.com/fleekxyz/ethereum-boilerplate
[submodule "boilerplates/astro-template"]
	path = boilerplates/astro-template
	url = git@github.com:fleekxyz/astro-template.git
	
[submodule "boilerplates/arweave-next-template"]
	path = boilerplates/arweave-next-template
	url = git@github.com:PBillingsby/zero-to-arweave.git
