body {
    display: grid;
    place-items: center;
    background-color: #b4a7d6;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .wrapper {
    background-color: #fff9e6;
    padding: 20px;
    border-radius: 10px;
    }
    
    h1 {
    color: #8873be;
    }